@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  src: url(../fonts/olivier_demo.ttf);
  font-family: olivier; }

@font-face {
  src: url(../fonts/DINPRO-BLACK.OTF);
  font-family: dinBlack; }

@font-face {
  src: url(../fonts/DINPRO-BOLD.OTF);
  font-family: dinB; }

@font-face {
  src: url(../fonts/DINPRO-LIGHT.OTF);
  font-family: dinLi; }

@font-face {
  src: url(../fonts/DINPRO-MEDIUM.OTF);
  font-family: dinMed; }

@font-face {
  src: url(../fonts/DINPRO-REGULAR.OTF);
  font-family: dinReg; }

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  src: url(../fonts/olivier_demo.ttf);
  font-family: olivier; }

@font-face {
  src: url(../fonts/DINPRO-BLACK.OTF);
  font-family: dinBlack; }

@font-face {
  src: url(../fonts/DINPRO-BOLD.OTF);
  font-family: dinB; }

@font-face {
  src: url(../fonts/DINPRO-LIGHT.OTF);
  font-family: dinLi; }

@font-face {
  src: url(../fonts/DINPRO-MEDIUM.OTF);
  font-family: dinMed; }

@font-face {
  src: url(../fonts/DINPRO-REGULAR.OTF);
  font-family: dinReg; }

.mision, .dondeVamos, .nosotres, footer div h4::selection, footer div:nth-child(3) p::selection, .logoFooter div:nth-child(2) h3::selection, .logoFooter div:nth-child(2) h3 a::selection, .highlight::selection {
  color: #006287;
  background-color: #FEFAEA; }

.containerHeader nav ul li a::selection, .mision h2::selection, .dondeVamos h2::selection, .nosotres h2::selection, .dondeVamos p span::selection, footer {
  color: #FEFAEA;
  background-color: #006287; }

.mision p::selection, .dondeVamos p::selection, .nosotres p::selection, .mision p span::selection, .nosotres div p a::selection, .rrssIcons ul li, .highlight {
  color: #FEFAEA;
  background-color: #CE3938; }

header {
  position: sticky;
  top: 0;
  z-index: 1; }

.containerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CE3938;
  width: 100%;
  height: 20%; }
  .containerHeader nav ul {
    display: flex;
    margin: 0; }
    .containerHeader nav ul li {
      list-style: none;
      margin: 0 30px; }
      .containerHeader nav ul li a {
        text-decoration: none;
        color: #FEFAEA;
        font-family: dinMed;
        font-size: 1.5rem; }
        .containerHeader nav ul li a:hover {
          color: #FEFAEA;
          font-family: dinBlack; }

.logoHeader img {
  width: 75px;
  height: 60px; }

.navToogle {
  display: none; }

.hidden {
  display: none; }

/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  src: url(../fonts/olivier_demo.ttf);
  font-family: olivier; }

@font-face {
  src: url(../fonts/DINPRO-BLACK.OTF);
  font-family: dinBlack; }

@font-face {
  src: url(../fonts/DINPRO-BOLD.OTF);
  font-family: dinB; }

@font-face {
  src: url(../fonts/DINPRO-LIGHT.OTF);
  font-family: dinLi; }

@font-face {
  src: url(../fonts/DINPRO-MEDIUM.OTF);
  font-family: dinMed; }

@font-face {
  src: url(../fonts/DINPRO-REGULAR.OTF);
  font-family: dinReg; }

.mision, .dondeVamos, .nosotres, footer div h4::selection, footer div:nth-child(3) p::selection, .logoFooter div:nth-child(2) h3::selection, .logoFooter div:nth-child(2) h3 a::selection, .highlight::selection {
  color: #006287;
  background-color: #FEFAEA; }

.containerHeader nav ul li a::selection, .mision h2::selection, .dondeVamos h2::selection, .nosotres h2::selection, .dondeVamos p span::selection, footer {
  color: #FEFAEA;
  background-color: #006287; }

.mision p::selection, .dondeVamos p::selection, .nosotres p::selection, .mision p span::selection, .nosotres div p a::selection, .rrssIcons ul li, .highlight {
  color: #FEFAEA;
  background-color: #CE3938; }

/* ---------------------------------- HERO ---------------------------------- */
.hero {
  width: 100%;
  height: 70vh;
  background-image: url("../img/crispines-hero.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  color: #FEFAEA; }
  .hero h1 {
    font-family: olivier;
    font-size: 3.5rem;
    margin: 0 0 0 15px;
    padding: 30px 0 0 0; }

.mision, .dondeVamos, .nosotres {
  padding: 50px 50px 20px 50px; }
  .mision h2, .dondeVamos h2, .nosotres h2 {
    color: #CE3938;
    font-family: olivier;
    font-size: 3rem;
    margin-bottom: 30px; }
  .mision p, .dondeVamos p, .nosotres p {
    font-family: dinReg;
    font-size: 2rem; }

/* --------------------------------- MISIÓN --------------------------------- */
.mision {
  text-align: center; }
  .mision p {
    padding: 0 200px; }
    .mision p span {
      font-family: dinB; }
  .mision div {
    display: flex;
    justify-content: center;
    margin: 60px 0; }
    .mision div div {
      margin: 0 5px; }
      .mision div div img {
        width: 300px;
        height: 200px; }

/* ----------------------------- ¿A DÓNDE VAMOS? ---------------------------- */
.dondeVamos1 {
  display: flex;
  margin-bottom: 50px; }
  .dondeVamos1 p {
    text-align: justify;
    padding-right: 60px; }
  .dondeVamos1 img {
    width: 500px;
    height: 350px; }

.dondeVamos p {
  margin-bottom: 50px; }
  .dondeVamos p span {
    color: #CE3938;
    font-family: dinB; }

.imgCarousel {
  width: 1300px;
  height: 500px;
  object-fit: cover; }

/* -------------------------------- NOSOTRES -------------------------------- */
.nosotres div {
  display: flex;
  padding-bottom: 80px; }
  .nosotres div img {
    width: 500px;
    height: 350px; }
  .nosotres div p {
    text-align: justify;
    padding-left: 60px; }
    .nosotres div p a {
      color: #006287; }
      .nosotres div p a:hover {
        color: #CE3938; }

.scrollTop {
  display: none; }

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  src: url(../fonts/olivier_demo.ttf);
  font-family: olivier; }

@font-face {
  src: url(../fonts/DINPRO-BLACK.OTF);
  font-family: dinBlack; }

@font-face {
  src: url(../fonts/DINPRO-BOLD.OTF);
  font-family: dinB; }

@font-face {
  src: url(../fonts/DINPRO-LIGHT.OTF);
  font-family: dinLi; }

@font-face {
  src: url(../fonts/DINPRO-MEDIUM.OTF);
  font-family: dinMed; }

@font-face {
  src: url(../fonts/DINPRO-REGULAR.OTF);
  font-family: dinReg; }

.mision, .dondeVamos, .nosotres, footer div h4::selection, footer div:nth-child(3) p::selection, .logoFooter div:nth-child(2) h3::selection, .logoFooter div:nth-child(2) h3 a::selection, .highlight::selection {
  color: #006287;
  background-color: #FEFAEA; }

.containerHeader nav ul li a::selection, .mision h2::selection, .dondeVamos h2::selection, .nosotres h2::selection, .dondeVamos p span::selection, footer {
  color: #FEFAEA;
  background-color: #006287; }

.mision p::selection, .dondeVamos p::selection, .nosotres p::selection, .mision p span::selection, .nosotres div p a::selection, .rrssIcons ul li, .highlight {
  color: #FEFAEA;
  background-color: #CE3938; }

footer {
  width: 100%;
  padding: 10px 50px 30px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  footer div {
    margin: 20px 10px; }
    footer div h4 {
      font-family: dinB;
      font-size: 1.5rem; }
    footer div:nth-child(3) p {
      margin: 10px 20px 0 0;
      font-family: dinReg;
      font-size: 1.3rem; }

.logoFooter {
  display: flex;
  align-items: center;
  margin: 0; }
  .logoFooter div:nth-child(1) {
    background-color: #FEFAEA;
    border-radius: 100%;
    display: flex;
    align-items: center;
    width: 130px;
    height: 130px; }
    .logoFooter div:nth-child(1) img {
      width: 127px;
      height: 100px; }
  .logoFooter div:nth-child(2) {
    margin-left: 30px; }
    .logoFooter div:nth-child(2) h4 {
      font-family: olivier;
      font-size: 2rem;
      text-align: center; }
    .logoFooter div:nth-child(2) h3 {
      font-family: dinLi;
      font-size: 1.1rem;
      text-align: center; }
      .logoFooter div:nth-child(2) h3 a {
        text-decoration: none;
        color: #FEFAEA; }
        .logoFooter div:nth-child(2) h3 a:hover {
          font-family: dinMed; }

.rrss {
  text-align: center;
  margin-right: 60px; }

.rrssIcons {
  display: flex;
  justify-content: center; }
  .rrssIcons ul {
    display: flex;
    padding: 0; }
    .rrssIcons ul li {
      display: inline-block;
      text-align: center;
      width: 50px;
      height: 50px;
      margin: 0 5px;
      font-size: 25px;
      line-height: 50px;
      border-radius: 25%;
      border: 1px solid #FEFAEA;
      transition: 0.6s; }
      .rrssIcons ul li:hover {
        color: #CE3938;
        background-color: #FEFAEA; }
      .rrssIcons ul li a {
        padding: 10px 12px 10px 12px;
        color: #FEFAEA;
        transition: 0.6s; }
        .rrssIcons ul li a:hover {
          color: #CE3938; }

.highlight {
  font-family: dinB;
  border-radius: 30px;
  padding: 3px 8px 5px 8px; }

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  src: url(../fonts/olivier_demo.ttf);
  font-family: olivier; }

@font-face {
  src: url(../fonts/DINPRO-BLACK.OTF);
  font-family: dinBlack; }

@font-face {
  src: url(../fonts/DINPRO-BOLD.OTF);
  font-family: dinB; }

@font-face {
  src: url(../fonts/DINPRO-LIGHT.OTF);
  font-family: dinLi; }

@font-face {
  src: url(../fonts/DINPRO-MEDIUM.OTF);
  font-family: dinMed; }

@font-face {
  src: url(../fonts/DINPRO-REGULAR.OTF);
  font-family: dinReg; }

/* --------------------------------- HEADER --------------------------------- */
@media screen and (max-width: 840px) {
  .containerHeader {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 60px;
    transition: height 0.7s ease-in-out; }
    .containerHeader nav {
      width: 100%;
      overflow: hidden; }
      .containerHeader nav ul {
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px; }
        .containerHeader nav ul li {
          margin: 10px 20px; }
  .logoHeader {
    justify-content: flex-start;
    align-items: flex-start; }
  .navToogle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1.5rem; }
    .navToogle img {
      width: 30px;
      height: 30px;
      filter: invert(100%) sepia(88%) saturate(254%) hue-rotate(7deg) brightness(106%) contrast(102%); }
  .openMenu {
    height: 300px; } }

@media screen and (max-width: 420px) {
  header {
    position: static; }
  .openMenu {
    height: 100vh; } }

/* ---------------------------------- MAIN ---------------------------------- */
@media screen and (max-width: 1140px) {
  .mision p, .dondeVamos p, .nosotres p {
    font-size: 1.6rem; }
  .mision p {
    padding: 0 140px; }
  .imgCarousel {
    width: 1038px;
    height: 350px; } }

@media screen and (max-width: 1022px) {
  .dondeVamos1 {
    margin-bottom: 20px; }
    .dondeVamos1 img {
      width: 450px;
      height: 300px; } }

@media screen and (max-width: 950px) {
  .mision h2, .dondeVamos h2, .nosotres h2 {
    font-size: 2.5rem; }
  .mision p, .dondeVamos p, .nosotres p {
    font-size: 1.3rem; }
  .mision div {
    flex-direction: column;
    align-items: center; }
    .mision div div {
      margin: 5px; }
      .mision div div img {
        width: 450px;
        height: 250px;
        object-fit: cover; }
  .dondeVamos1 img {
    width: 390px;
    height: 250px; }
  .nosotres div img {
    width: 390px;
    height: 250px; } }

@media screen and (max-width: 800px) {
  .mision, .dondeVamos, .nosotres {
    text-align: center; }
  .mision p {
    padding: 0 60px; }
  .dondeVamos1 {
    flex-direction: column;
    align-items: center; }
    .dondeVamos1 p {
      padding: 0; }
    .dondeVamos1 img {
      margin-bottom: 20px; }
  .imgCarousel {
    height: 250px; }
  .nosotres div {
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px; }
    .nosotres div p {
      padding: 0;
      margin: 40px 0 0 0; } }

@media screen and (max-width: 600px) {
  .dondeVamos {
    padding: 0; }
    .dondeVamos h2 {
      padding-top: 25px; }
    .dondeVamos p {
      padding: 0 30px; }
  .mision, .nosotres {
    padding: 20px 30px 20px 30px; }
    .mision h2, .nosotres h2 {
      padding-top: 25px; }
  .mision p {
    padding: 0; }
  .mision div div img {
    width: 390px;
    height: 200px; } }

@media screen and (max-width: 420px) {
  html {
    scroll-behavior: smooth; }
  .mision h2, .dondeVamos h2, .nosotres h2 {
    font-size: 2.3rem; }
  .mision p, .dondeVamos p, .nosotres p {
    font-size: 1.3rem; }
  .mision {
    padding: 20px 25px; }
    .mision div {
      margin: 50px 0 25px 0; }
      .mision div div img {
        width: 290px;
        height: 150px; }
    .mision p {
      text-align: justify;
      margin-bottom: 0; }
  .dondeVamos p {
    padding: 0 25px;
    text-align: justify; }
  .dondeVamos1 img {
    width: 255px;
    height: 175px; }
  .imgCarousel {
    height: 190px; }
  .nosotres {
    padding: 20px 25px; }
    .nosotres div img {
      width: 255px;
      height: 175px; }
  .scrollTop {
    width: 50px;
    height: 50px;
    background-color: #CE3938;
    opacity: 0.9;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .scrollTop img {
      width: 40px;
      height: 40px;
      filter: invert(100%) sepia(88%) saturate(254%) hue-rotate(7deg) brightness(106%) contrast(102%); } }

/* --------------------------------- FOOTER --------------------------------- */
@media screen and (max-width: 1116px) {
  footer {
    padding: 10px 40px 20px 40px; }
    footer div {
      margin: 20px 5px; }
      footer div h4 {
        font-size: 1.3rem; }
      footer div:nth-child(3) {
        padding-top: 30px; }
        footer div:nth-child(3) p {
          margin: 10px 10px 0 0;
          font-size: 1rem;
          line-height: 30px; }
  .logoFooter div:nth-child(1) {
    width: 110px;
    height: 110px; }
    .logoFooter div:nth-child(1) img {
      width: 107px;
      height: 80px; }
  .logoFooter div:nth-child(2) h4 {
    font-size: 1.8rem; }
  .logoFooter div:nth-child(2) h3 {
    font-size: 0.9rem; }
  .rrss {
    padding-top: 30px; }
  .rrssIcons ul li {
    width: 40px;
    height: 40px;
    font-size: 21px;
    line-height: 36px; }
    .rrssIcons ul li a {
      padding: 10px 10px 10px 10px; } }

@media screen and (max-width: 926px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px; }
    footer div {
      margin: 10px; }
      footer div:nth-child(3) {
        text-align: center;
        padding: 0 200px; }
        footer div:nth-child(3) p {
          margin: 20px 0 0 0; }
  .rrss {
    margin-right: 0; }
    .rrss div {
      margin-top: 20px; } }

@media screen and (max-width: 730px) {
  footer div:nth-child(3) {
    padding: 0 80px; } }

@media screen and (max-width: 500px) {
  footer div:nth-child(3) {
    padding: 0 40px; } }
