/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */

@import "../base/variables";
@import "../base/mixin";
@import "../base/generales";
@import "../base/extends";

/* ---------------------------------- HERO ---------------------------------- */

.hero {
    @include size (100%, 70vh);
    background-image: url(../../img/crispines-hero.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    color: $color-beige;
    h1 {
        font-family: olivier;
        font-size: 3.5rem;
        margin: 0 0 0 15px;
        padding: 30px 0 0 0;
    }
}

.mision, .dondeVamos, .nosotres {
    @extend %blueBackBeige;
    padding: 50px 50px 20px 50px;
    h2 {
        color: $color-red;
        font-family: olivier;
        font-size: 3rem;
        margin-bottom: 30px;
        &::selection {
            @extend %beigeBackBlue;
        }
    }
    p {
        font-family: dinReg;
        font-size: 2rem;
        &::selection {
            @extend %beigeBackRed;
        }
    }
}

/* --------------------------------- MISIÓN --------------------------------- */

.mision {
    text-align: center;
    p {
        padding: 0 200px;
        span {
            font-family: dinB;
            &::selection {
                @extend %beigeBackRed;
            }
        }
    }
    div {
        display: flex;
        justify-content: center;
        margin: 60px 0;
        div {
            margin: 0 5px;
            img {
                @include size (300px, 200px);
            }
        }
    }
}

/* ----------------------------- ¿A DÓNDE VAMOS? ---------------------------- */

.dondeVamos1 {
    display: flex;
    margin-bottom: 50px;
    p {
        text-align: justify;
        padding-right: 60px;
    }
    img {
        @include size (500px, 350px);
    }
}

.dondeVamos {
    p {
        margin-bottom: 50px;
        span {
            color: $color-red;
            font-family: dinB;
            &::selection {
                @extend %beigeBackBlue;
            }
        }
    }
}

.imgCarousel {
    @include size (1300px, 500px);
    object-fit: cover;
}

.provincias {
    display: flex;
    justify-content: center;
    div {
        background-color: rgba(0, 99, 135, 0.7);
        width: max-content;
        border-radius: 60px;
        padding: 5px 20px;
        h5 {
            font-size: 2.5rem;
        }
    }
}

/* -------------------------------- NOSOTRES -------------------------------- */

.nosotres {
    div {
        display: flex;
        padding-bottom: 80px;
        img {
            @include size (500px, 350px);
        }
        p {
            text-align: justify;
            padding-left: 60px;
            a {
                color: $color-blue;
                &:hover {
                    color: $color-red;
                }
                &::selection {
                    @extend %beigeBackRed;
                }
            }
        }
    }
}

.scrollTop {
    display: none;
}