/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

@import "../base/variables";
@import "../base/mixin";
@import "../base/generales";
@import "../base/extends";

footer {
    width: 100%;
    padding: 10px 50px 30px 50px;
    @extend %beigeBackBlue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    div {
        margin: 20px 10px;
        h4 {
            font-family: dinB;
            font-size: 1.5rem;
            &::selection {
                @extend %blueBackBeige;
            }
        }
        &:nth-child(3) {
            p {
                margin: 10px 20px 0 0;
                font-family: dinReg;
                font-size: 1.3rem;
                &::selection {
                    @extend %blueBackBeige;
                }
            }
        }
    }
}

.logoFooter {
    display: flex;
    align-items: center;
    margin: 0;
    div {
        &:nth-child(1) {
            background-color: $color-beige;
            border-radius: 100%;
            display: flex;
            align-items: center;
            @include size (130px, 130px);
            img {
                @include size (127px, 100px);
            }
        }
        &:nth-child(2) {
            margin-left: 30px;
            h4 {
                font-family: olivier;
                font-size: 2rem;
                text-align: center;
            }
            h3 {
                font-family: dinLi;
                font-size: 1.1rem;
                text-align: center;
                &::selection {
                    @extend %blueBackBeige;
                }
                a {
                    text-decoration: none;
                    color: $color-beige;
                    &:hover {
                        font-family: dinMed;
                    }
                    &::selection {
                        @extend %blueBackBeige;
                    }
                }
            }
        }
    }
}

.rrss {
    text-align: center;
    margin-right: 60px;
}

.rrssIcons {
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        padding: 0;
        li {
            display: inline-block;
            text-align: center;
            @include size (50px, 50px);
            margin: 0 5px;
            font-size: 25px;
            line-height: 50px;
            @extend %beigeBackRed;
            border-radius: 25%;
            border: 1px solid $color-beige;
            transition: 0.6s;
            &:hover {
                color: $color-red;
                background-color: $color-beige;
            }
            a {
                padding: 10px 12px 10px 12px;
                color: $color-beige;
                transition: 0.6s;
                &:hover {
                    color: $color-red;
                }
            }
        }
    }
}

.highlight {
    font-family: dinB;
    @extend %beigeBackRed;
    border-radius: 30px;
    padding: 3px 8px 5px 8px;
    &::selection {
        @extend %blueBackBeige;
    }
}