@import "./variables";

%blueBackBeige {
    color: $color-blue;
    background-color: $color-beige;
}

%beigeBackBlue {
    color: $color-beige;
    background-color: $color-blue;
}

%beigeBackRed {
    color: $color-beige;
    background-color: $color-red;
}