*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    src: url(../fonts/olivier_demo.ttf);
    font-family: olivier;
}

@font-face {
    src: url(../fonts/DINPRO-BLACK.OTF);
    font-family: dinBlack;
}

@font-face {
    src: url(../fonts/DINPRO-BOLD.OTF);
    font-family: dinB;
}

@font-face {
    src: url(../fonts/DINPRO-LIGHT.OTF);
    font-family: dinLi;
}

@font-face {
    src: url(../fonts/DINPRO-MEDIUM.OTF);
    font-family: dinMed;
}

@font-face {
    src: url(../fonts/DINPRO-REGULAR.OTF);
    font-family: dinReg;
}